/* === Resetear el CSS === */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}


/* === Fin reseteo del CSS === */


/* ========== Declaracion grid main body ==========  */

#god-container-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100px minmax(1000px, auto) 100px;
    background: #2a9d8f;
}

#header-container-grid {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
}

#container-main-center {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#footer-container-grid {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
}


/* ========== FIN Declaracion grid main body ==========  */


/* ==========  Estilo asides  ========== */


/* #aside-left {
    grid-column: 1/2;
    grid-row: 2/3;
    border: solid 2px white;
    margin: 10px;
}

#aside-right {
    grid-column: 3/4;
    grid-row: 2/3;
    border: solid 2px white;
    margin: 10px;
} */


/* ==========  FIN Estilo y asides  ========== */


/* ========== Genericos ========== */

.container-inline-flex {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.card-inline-flex-column {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-navbar-inline-flex {
    display: inline-flex;
}

.container-inline-column-flex {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 100%;
}

.container-inline-row-flex {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.container-grid {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
}

.box {
    background: #FFFFFF;
    display: inline-flex;
    border-radius: 5px;
}

.box-inline-flex {
    display: inline-flex;
    margin: 3px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.card_W49 {
    width: 49%;
}

.card_W99 {
    width: 99%;
}

.box_W49 {
    width: 49%;
    height: 100%;
}

.box_W99 {
    width: 100%;
    border-radius: 5px;
}

.box-flex-title {
    display: inline-flex;
    margin-top: 25px;
    margin-bottom: 7px;
}

.box-flex-title h2 {
    color: gold;
    text-align: initial;
    font-size: 25px;
}

.box-flex-title button {
    border: none;
    background: none;
    margin-left: 10px;
    padding: 5px;
}

.box-flex-title button a {
    color: white;
}

.card-flex-row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.card-flex-column {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/* Estilos caja muestra de productos */

.box-product {
    height: 300px;
    width: 217px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.box-product:hover {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    border: 2px solid #00ffaa;
    height: 350px;
}

#button-deseos-box-product {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#button-cart-box-product {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.box-product #box-product-name {
    min-width: 100%;
    height: 50px;
}

.box-product #box-product-buttons {
    display: inline-flex;
    justify-content: space-between;
    min-width: 100%;
    height: 30px;
}

.box-product #box-hover-product {
    display: none;
    width: 100%;
    height: 65px;
    transition: 0.5s;
}

.box-product:hover #box-hover-product {
    display: inline-flex;
    width: 98%;
    height: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.box-img-product-home {
    width: 217px;
    height: 230px;
}

.box-img-product-home>img {
    /*Mejorar manera  de mostrar fotos segun resolucion*/
    height: auto;
    width: auto;
    max-width: 217px;
    max-height: 200px;
    border-radius: 5px;
}

.mini-box {
    float: left;
    width: 100%;
    border-top: 1px solid #c2c0c0;
}

.price {
    font-size: 25px;
    margin-right: 20px;
    color: rgb(11, 185, 104);
}

.discount {
    font-size: 20px;
    color: goldenrod;
}

.dues-product {
    font-size: 15px;
    color: goldenrod;
}

.product-name {
    margin-top: 5px;
    font-size: 17px;
    color: #1b5245;
}

.shadow {
    -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.41);
}


/* ========== FIN Genericos ========== */


/* ========== Botones "Comprar" ========== */

.button-buy {
    background: #1F69D8;
    color: white;
    border: none;
    border-radius: 3px;
    height: 25px;
    margin-top: 10px;
    width: 90%;
}


/* ========== FIN Botones "Comprar" ========== */


/* ========== Botones "Agregar a deseos" y "agregar a carrito" ========== */

.button-deseos {
    background-image: url("assets/logos/corazon_red.svg");
    display: flex;
}

#button-deseos-box-flash {
    float: left;
    margin-right: 10px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

#button-cart-box-flash {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: auto;
}

.button-cart {
    background-image: url("assets/logos/cart_color.svg");
    display: flex;
}


/* ========== FIN Botones "Agregar a deseos" y "agregar a carrito" ========== */